@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  --blueColor: #0de9df;
  --whiteColor: #fff;
  --blackColor: #000;
  --grayColor: #858585;
}
.module_38 {
  height: 550px;
  background-image: url(../images/p1-img-4-3.jpg);
  background-size: cover;
  max-width: 100%;
}
.module_38 .octopus {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  height: 550px;
}
.module_38 .octopus .octopus_text {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-60%);
  color: #fff;
  font-size: 140px;
  font-family: 'Mr Dafoe', cursive;
}
.module_38 .octopus .octopus_text2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 3em;
  font-weight: 500;
}
@media (min-width: 740px) and (max-width: 1164px) {
  .module_38 .octopus .octopus_text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-60%);
    color: #fff;
    font-size: 70px;
    font-family: 'Mr Dafoe', cursive;
  }
  .module_38 .octopus .octopus_text2 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 2em;
    font-weight: 500;
  }
}
@media (min-width: 497px) and (max-width: 739px) {
  .module_38 .octopus .octopus_text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-60%);
    color: #fff;
    font-size: 70px;
    font-family: 'Mr Dafoe', cursive;
  }
  .module_38 .octopus .octopus_text2 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 1em;
    font-weight: 500;
  }
}
@media (max-width: 496px) {
  .module_38 .octopus .octopus_text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-60%);
    color: #fff;
    font-size: 45px;
    font-family: 'Mr Dafoe', cursive;
  }
  .module_38 .octopus .octopus_text2 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 0.6em;
    font-weight: 500;
  }
}
