@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
    --blueColor: #0de9df;
    --whiteColor: #fff;
    --blackColor: rgb(134, 126, 126);
    --grayColor: #858585;
}
.modum-41{
    margin-left: 1%;
    margin-right: 1%;

.img-41{
 width: 100%;

}
.p-modum41{
    font-size: 22px;
    color: var(--blackColor);

}
.h-modum41{
    color: black;
}

}
.p-modum411{
    margin-left: 14px;
    font-size: 22px;
    color: var(--blackColor);

}
.modumcontener-41{
    
    position: relative;
    font-size: 30px;
    /* width: 100px; */
    width: 69%;
    margin-left: 361px;
}
.modumcontener-41::before{
    content: "“";
    font-family: mr dafoe,sans-serif;
    color: #0de9df;
    font-size: 261px;
    position: absolute;
    left: -15%;
    top: -100%;
    font-weight: 400;

}
