@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --blueColor: #0de9df;
  --whiteColor: #fff;
  --blackColor: #000;
  --grayColor: #858585;
}
body {
  margin: 0;
  padding: 0;
}
.module_81 {
  width: 63.8%;
  height: 222px;
  background-color: #000;
  margin-top: 30px;
  margin-left: 85px;
  position: relative;
}
.module_81 .background {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
}
.module_81 .background .img {
  position: relative;
}
.module_81 .background .img img {
  position: absolute;
  top: 55px;
  left: 30px;
}
.module_81 .background .quotes {
  position: absolute;
  max-width: 565px;
  top: 55px;
  left: 193px;
}
.module_81 .background .quotes p {
  color: #fff;
  font-size: 1.4em;
  width: 100%;
  font-weight: bold;
}
.module_81 .background .quotes a {
  top: 140px;
  left: 193px;
  color: var(--blueColor);
  font-size: 1em;
  font-weight: 500;
}
.module_81 .background .quotes a:hover {
  text-decoration: none;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .module_81 {
    width: 83%;
  }
  .module_81 .background {
    width: 100%;
    height: 100%;
  }
  .module_81 .background .quotes p {
    max-width: 80%;
  }
  .module_81 .background .quotes a {
    font-size: 1em;
  }
}
@media (max-width: 739px) and (min-width: 550px) {
  .module_81 {
    width: 75%;
    height: 397px;
  }
  .module_81 .background {
    width: 100%;
    height: 100%;
  }
  .module_81 .background .quotes {
    position: absolute;
    max-width: 565px;
    top: 200px;
    left: 15px;
  }
  .module_81 .background .quotes p {
    font-size: 1.3em;
    max-width: 80%;
  }
  .module_81 .background .quotes a {
    font-size: 1em;
  }
}
@media (max-width: 549px) {
  .module_81 {
    width: 70%;
    height: 397px;
  }
  .module_81 .background {
    width: 100%;
    height: 100%;
  }
  .module_81 .background .quotes {
    position: absolute;
    max-width: 565px;
    top: 200px;
    left: 15px;
  }
  .module_81 .background .quotes p {
    font-size: 1.3em;
    max-width: 80%;
  }
  .module_81 .background .quotes a {
    font-size: 1em;
  }
}
